@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.node {
  width: 28px;
  height: 28px;
  border: 0.5px solid #666;
}

.node-wall {
  background-color: #f2f3f4;
  border: none;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #D27685;
    border-radius: 100%;
  }

  50% {
    background-color: #9E4784;
    border-radius: 50%;
  }

  75% {
    transform: scale(1.2);
    background-color: #66347F;
    border-radius: 25%;
  }

  100% {
    transform: scale(1);
    background-color: #450175;
    border-radius: 0%;
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  border: none;
  background-color: #1DB954;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
